<li class="nav-item">
    <%= link_to blast.admin_contacts_path,
                class: "nav-link #{active(blast.admin_contacts_path)}" do %>
     Contacts
     <span class="badge">(<%= @contacts_count %>)</span>
   <% end %>
  </li>